<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
</head>
<body>
<video autoplay muted loop id="bg-video">
    <source src="{{ url_for('static', filename='videos/beer.mp4') }}" type="video/mp4">
    Il tuo browser non supporta il video HTML5.
  </video>

<div class="overlay"></div>

<div class="header">
  {% if name %}
  <div class="side" id="username"><h2>{{ name }}</h2></div>
  {% endif %}
  <div class="center">
      <a class="menu-button" href="{{url_for('home')}}">Home</a>
      <a class="menu-button" href="{{url_for('ranking')}}">Ranking</a>
      <a class="menu-button" href="#history">History</a>
      <a class="menu-button" href="#about">About</a>
  </div>
  <div class="side" id="logout">
      <a href="{{url_for('logout')}}">Logout</a>
  </div>
</div>

<div id="ext-podium">
{% if ranking %}
  <div class="int-podium" id="first">
    <h3>1</h3>
    <h3 class="name">{{ ranking[0].name }}</h3>
    <h3 class="qt">{{ ranking[0].quantity }}</h3>
  </div>
  <div class="int-podium" id="second">
    <h3>2</h3>
    <h3 class="name">{{ ranking[1].name }}</h3>
    <h3 class="qt">{{ ranking[1].quantity }}</h3>
  </div>
  <div class="int-podium" id="third">
    <h3>3</h3>
    <h3 class="name">{{ ranking[2].name }}</h3>
    <h3 class="qt">{{ ranking[2].quantity }}</h3>
  </div>
</div>
<div id="div-table">
  <table id="ranking-tab">
    {% for item in ranking[3:] %}
      <tr>
        <td>{{ loop.index + 3 }}</td>   
        <td class="center">{{ item.name }}</td>       
        <td>{{ item.quantity }}</td>    
      </tr>
    {% endfor %}
  </table>
</div>
{% endif %}


</body>
</html>